.reviewWrapper {
    width: 266px;
    height: 290px;
    .review {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .reviewTitle {
        color: black;
        font-size: 16px;
        font-weight: 500;
        line-height: 1em;
    }
    .reviewText {
        margin-top: 30px;
        max-height: 72px;
        font-size: 16px;
        overflow: hidden;
    }
    .reviewDate {
        margin-top: 30px;
        font-size: 12px;
        font-weight: 300;
        line-height: 1em;
    }
    .reviewImage {
        margin-top: 30px;
        height: 80px;
        width: 80px;
        border-radius: 70%;
        overflow: hidden;
    }
}