@import '../../styles/variables';
.ImageTitleWrapper {
    position: absolute;
    top: 40%;
    left: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40vw;
    z-index: 100;
    .mainVideoTitle {
        font-size: 32px;
        font-weight: 400;
        line-height: 2em;
    }
    .mainVideoTitle2 {
        margin-bottom: 70px;
        font-size: 52px;
        font-weight: bold;
    }
    .findDetails {
        width: 325px;
        height: 60px;
        border: 1px solid $black;
    }
}

.changedColor {
    width: 325px;
    height: 60px;
    background-color: $black;
    color: $white;
    transition: 'opacity 500ms , visibility 500ms';
}

.secondImageTitleWrapper {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 130%;
    left: 30%;
    width: 40vw;
    z-index: 100;
    .mainPictureTitle {
        color: $white;
        font-size: 34px;
        font-weight: bold;
    }
    .mainPictureTitle2 {
        margin-bottom: 40px;
        font-size: 35px;
        line-height: 3em;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        color: $white;
    }
    .findDetails {
        width: 325px;
        height: 60px;
        border: 1px solid $white;
        color: $white;
    }
}