@import '../../styles/_variables';

.category {
    background-color: $grey-10;
    & .listGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding-bottom: 230px;
    }
}
