@import '../../../styles/variables';

.signupTitle {
    .title {
        margin-bottom: 36px;
        line-height: 1em;
        color: $black;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
    }
}
