@import '../../../../Styles/mixins';

.productCard {
    @include flex(space-around, center);
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;

    .productImg {
        width: 300px;
        height: 380px;
        overflow: hidden;
        margin: 20px;
    }

    .productTitle,
    .amount {
        @include flex(center, center);
    }

    .productTitle {
        font-size: 20px;
        font-weight: 500;
        margin: 15px 0;
    }

    .amount {
        @include flex(center, center);
        font-size: 10px;
        font-weight: 200px;
        margin-bottom: 30px;

        .divider {
            margin: 10px 5px;
        }
    }
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
