@import '../../../styles/mixins';
@import './KeywordTheme.scss';

.bubbles {
    @include keywordTheme(default);
    position: relative;
    width: 885px;
    height: 540px;
    margin: 0 auto;

    &.wind {
        @include keywordTheme(wind);
    }

    &.melt {
        @include keywordTheme(melt);
    }

    &.path {
        @include keywordTheme(path);
    }
}
