@import '../../../styles/variables';
@import '../../../styles/mixins';

.cartTable {
    width: 100%;
    margin-bottom: 90px;
    border-top: 2px solid $black;
}

.selectHead {
    @include flex(normal, center);
}

.cartItemCheckBox[type='checkbox'] {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background: $white;
    border: 1px solid $black;
    border-radius: 0;
    cursor: pointer;
}
