@import '../../../styles/variables';
@import '../../../styles/mixins';

.cartTable {
    padding-bottom: 90px;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
}

@mixin cartTableCell($textAlign) {
    .cell {
        padding: 20px;
        text-align: center;

        &:first-child {
            flex: 5;
            padding: 0;
        }

        &:nth-child(2) {
            flex: 6;
            text-align: $textAlign;
        }

        &:nth-child(n + 3) {
            flex: 3;
        }

        & .productName {
            font-size: 16px;
            font-weight: 700;
        }

        & .volume {
            margin-top: 15px;
            color: $grey-80;
            font-size: 14px;
            font-weight: 400;
        }

        &.price {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.row {
    @include flex(center, center);
    @include cartTableCell(center);

    &.isData {
        @include cartTableCell(left);

        padding: 20px 0;
        border-top: 1px solid $grey-60;
        border-bottom: 1px solid $grey-60;

        & + & {
            border-top: 0;
        }
    }
}

.cartItemCheckBox[type='checkbox'] {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background: $white;
    border: 1px solid $black;
    border-radius: 0;
    cursor: pointer;
}

.selectHead {
    @include flex(normal, center);

    .selectOption {
        color: $grey-90;
        font-size: 16px;
        font-weight: 500;

        &.isRemove {
            color: $black;
            font-weight: 700;
            cursor: pointer;
        }
    }

    .divider {
        display: inline-block;
        width: 1px;
        height: 12px;
        margin: 0 12px;
        background: $grey-50;
    }
}

.quantityBox {
    @include flex(center, center);

    width: 110px;
    height: 36px;
    margin: 0 auto;
    border: 1px solid $black;

    & .item {
        width: calc(100% / 3);
        height: 100%;
    }

    & .btnQuantity {
        position: relative;
        cursor: pointer;

        &:before,
        &:after {
            position: absolute;
            content: '';
            left: 50%;
            top: 50%;
            width: 12px;
            height: 1px;
            background: $black;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background: rgba(0, 0, 0, 0.06);
        }

        &.increase {
            &:before {
                transform: translate(-50%, -50%) rotate(90deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }
    }

    & .value {
        @include flex(center, center);

        font-size: 13px;
        font-weight: 400;
    }
}
