@import '../../../styles/variables';

.totalPriceTable {
    width: 100%;
    margin-bottom: 50px;
    border-top: 2px solid $black;
    border-bottom: 1px solid $grey-60;

    .cell {
        padding: 20px;
        text-align: center;
        vertical-align: middle;

        &:nth-child(odd) {
            width: 18%;
        }

        &:nth-child(even) {
            width: 9%;
        }
    }
}
