@import '../../../styles/variables';
@import '../../../styles/mixins';

.totalPriceTable {
    margin-bottom: 50px;
    border-bottom: 1px solid $grey-60;

    .cell {
        padding: 20px;

        &:nth-child(odd) {
            flex: 3;
            text-align: center;
        }

        &:nth-child(even) {
            @include flex(center, center);
            flex: 1;
        }
    }
}
