// @import './_minxins.scss';
@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.NavWrapper {
    @include flex(space-around, center);
    height: 110px;
    background-color: white;
    .navCategory {
        margin-top: 40px;
    }
    .navCategoryLink {
        margin-left: 65px;
        font-family: 'Noto Sans KR', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
    }
    .NavTitle {
        margin-right: 380px;
        margin-top: 25px;
        // vertical-align: baseline;
        font-size: 40px;
        font-weight: bold;
    }
    .LoginIcon {
        margin-top: 40px;
        margin-right: 150px;
        height: 70px;
        width: 30px;
    }
}