@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.NavWrapper {
    @include flex(space-around, center);
    background-color: white;
    height: 110px;
    .navCategory {
        margin-top: 40px;
    }
    .navCategory ul Link {
        margin-left: 50px;
        font-family: 'Noto Sans KR', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
    }
    .NavTitle {
        font-size: 40px;
        font-weight: bold;
        margin-right: 440px;
        margin-top: 25px;
    }
    .LoginIcon {
        height: 70px;
        width: 30px;
        margin-top: 40px;
        margin-right: 150px;
    }
}