/* Colors */
$white: #fff;
$black: #000;

$grey-10: #f8f8f8;
$grey-20: #fafafa;
$grey-30: #dedede;
$grey-40: #cccccc;
$grey-50: #bdbdbd;
$grey-60: #a8a8a8;
$grey-70: #8b8b8b;
$grey-80: #7c7c7c;
$grey-90: #5e5e5e;

$kakao-yellow: #ffe812;
$naver-green: #00c73c;
