@import '../../../styles/mixins';

.loginContainer {
    &.container {
        @include flex(center, center);
        flex-direction: column;
        margin: 150px auto 50px;
        padding: 80px 0;
    }
}
